h2 {
    position: relative;
    top: 10vh;
    color: white;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px; /* 向下偏移 50 像素 */
}


.footer {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px; /* 向下偏移 50 像素 */
}